<form action="/login" method="POST">
<input type="text" name="username" id="">
<input type="password" name="password" id="">
<input type="submit" value="Enviar"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
</form>




